body {
    color:black;
    background-color: rgb(124, 124, 128);
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("../img/2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    
}

h1 {
text-align: center;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    text-decoration: none;
    background-color:  rgb(124, 124, 128);;
    color:black;
    padding: 10px 20px;
    border-radius: 8px;
    display: inline-block;
    font-weight: bold;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

a:hover {
  border: 2px solid #667eea;
  box-shadow: 0 0 10px rgba(102,126,234,0.6);
  transform: scale(1.05);
}



form {
  background:  rgba(255, 255, 255, 0.2);
  padding: 20px;
  max-width: 400px;
  margin: 50px auto;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  backdrop-filter: blur(10px);
}
.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}


.campo label {
  margin-bottom: 5px;
  font-weight: bold;
}

.campo input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.campo input:focus {
  border-color: #007bff;
}

input[type="radio"] {
  width: 15px;
  height: 15px;
  accent-color:  rgb(124, 124, 128);
}

button {
  width: 100%;
  padding: 10px;
  background: rgb(124, 124, 128);
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

button:hover {
  background: #006616;
}

input {
  background: rgba(255, 255, 255, 0.1); 
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 8px;
  padding: 12px;
  color: black;
  backdrop-filter: blur(10px);
}

@media (max-width: 600px) {
  .linha {
    flex-direction: column;
  }
}
